html body {
    background-color: rgba(0,0,0,1.00);
    color: white;

}

.skip-to-main-content-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}
.skip-to-main-content-link:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

h1#site-title {
  color: white;
  background-color: blue;
  text-align: center;
  font-size: 72px;
  font-family: Impact;
  letter-spacing: -3px;
  margin-top:0;
  margin-bottom: .125em;

}

h1#article-title{
  color: white;
  font-size: 48px;
  font-family: Impact;
}


h2{
  color: white;
  font-weight: bolder;
}
main {
  text-align: left;
}
p{
  background-color: ;
  color: white;
  line-height: 1.25;
}
figure {
  border: 5px solid white;
  padding:15px;
  padding-bottom: 30px;
}

img {
  max-width: 100%
  height: auto;
}
figure img {

  display: block;
  margin-left: auto;
  margin-right:auto;

}

figure.main-image{
  background-color: PaleVioletRed;
  border-color:MediumVioletRed;
}

@media all and (min-width:768px){
figure.section-image{
  margin-bottom: 32px;
  max-width: 320px;

}}
figure.section-image.odd{
  float:right;
  margin-left: 20px;

}
figure.section-image.even{
  float:right;
  margin-left: 20px;
}

figcaption{
  color:white;
  text-align:center;
}



p img {
  max-width:30%;
  float:right;
  border: 5px solid white;
  margin-left: 20px;
  margin-bottom: 32px;
}

nav ul {

  list-style: none;
  padding-left: 0;
  border-top: 1px solid MediumVioletRed;
  border-bottom: 1px solid MediumVioletRed;
}

@media all and (min-width: 376px){
  nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}

nav ul li {

}

nav ul li a{
  color: white;
  text-decoration: none;
  padding: 12px;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

nav ul li:hover a{
  background-color: MediumVioletRed;
  text-decoration: underline;
}

article img {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right:auto;
}
footer{
  background-color: MediumVioletRed;
  text-align: center;
}

footer nav ul li:hover a{
  text-decoration: underline;
}
